/* Stile per il campo di input (textfield) */
.input-error {
  border: 2px solid red !important;
  padding: 10px;
  border-radius: 500px;
  font-weight: bold;
  position: absolute;
  animation: vibrate 0.3s infinite alternate;
  
}

.custom-textfield {
  border: 2px solid black;
  padding: 10px;
  border-radius: 500px;
  font-weight: bold;
  position: absolute;
  /* transition: border-color 0.3s; */
  /* Add a transition for smooth border color change */
}

.custom-ricerca {
  border: 2px solid black;
  padding: 10px;
  border-radius: 500px;
  width: 700px;
  font-weight: bold;
  position: absolute;
  /* transition: border-color 0.3s; */
  /* Add a transition for smooth border color change */
}

@keyframes vibrate {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(4px);
  }

  75% {
    transform: translateX(-4px);
  }
}