<!-- <app-titolo [titolo]="'REGISTER'" style="position: absolute; top: 8%; left: 50%; transform: translate(-50%, -0%);" />


<app-pulsante pagina="gpt" nome="SignUp" (click)="registra(getValue(textfield.inputValue), getValue(textfieldpsw.inputValue))" style="position:absolute; top:58%; right:53.5%; transform: translate(0%, -50%);" />

<app-textfield #textfieldpsw  [type]="passwordFieldType" placeholder="Password" class="custom-textfield unselectable"
  style="position: absolute;top: 45%; right: 57%; transform: translate(0%, -50%); margin-top: 10px;" (keypress)="onTextFieldKeyPress($event, getValue(textfield.inputValue), getValue(textfieldpsw.inputValue))"></app-textfield>

<app-textfield placeholder="Username" #textfield type = "text"  style="position: absolute;top: 35%; right: 57%; transform: translate(0%, -50%); margin-bottom: 10px;" />

<app-pulsante img="bi bi-eye-fill" azione="cambiaSVG" (click)="togglePasswordVisibility()"  style="position:absolute;top: 48%; right: 41%; transform: translate(0%, -50%);">
</app-pulsante>


<app-pulsante pagina="login" nome="Login" azione="cambiaPagina" style="position:absolute;top:5%;right:8%; transform: translate(0%, -50%);"  class="pagina-button" /> -->

<div style="width: 100%;height: 90% !important;display: flex;position:relative">

  <div style="width: 33%;;">
    
  </div>


  <div style="width: 33%;height:100%;;align-items: center;">
    <app-titolo [titolo]="'REGISTER'" style="position: relative"/>
    
    <app-textfield placeholder="Username" #textfield type = "text"  style="position: relative;margin-left:27% ; top:8%;" />


    <app-textfield #textfieldpsw  [type]="passwordFieldType" placeholder="Password" class="custom-textfield unselectable"
     style="position: relative; top:20% ;margin-left:27%" (keypress)="onTextFieldKeyPress($event, getValue(textfield.inputValue), getValue(textfieldpsw.inputValue))"></app-textfield>

     <app-pulsante img="bi bi-eye-fill" azione="cambiaSVG" (click)="togglePasswordVisibility()"  style="position:relative; margin-left: 72%;top: 13.5%;">
    </app-pulsante>

   
   <app-pulsante pagina="gpt" nome="SignUp" (click)="registra  (getValue(textfield.inputValue), getValue(textfieldpsw.inputValue))" style="position:relative;margin-left:40%;top:20%" />

  </div>

  <div style="width: 33%;">
    <app-pulsante pagina="login" nome="Login" azione="cambiaPagina" style="position:relative;top: -8.8%;margin-left: 75%;"  class="pagina-button" />
  </div>


</div>