/* Default styles for larger screens */




.input-fieldU {
   
    top: 35%;
    right: 57%;
    /* width: 70%; */
    margin: 0 auto;
}
.input-field {
   
    top: 45%;
    right: 57%;

    /* width: 70%; */
    margin: 0 auto;
}

