<div class="login-container">
    <app-titolo [titolo]="'LOGIN'" class="login-title"></app-titolo>

    <app-textfield placeholder="Username" #textfield class="input-fieldU"></app-textfield>

    <app-textfield placeholder="Password" #textfieldpsw class="input-field"></app-textfield>

    <app-pulsante pagina="gpt" nome="SignIn"
        (click)="login(getValue(textfield.inputValue), getValue(textfieldpsw.inputValue))"
        class="custom-button login-button"></app-pulsante>

    <app-pulsante pagina="register" nome="Register" azione="cambiaPagina"
        class="pagina-button register-button"></app-pulsante>
</div>