/* my-component.css o my-component.scss */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  /* Arrotonda gli angoli del pulsante */
  
}

.button:hover {
  background-color: #333;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  /* Arrotonda gli angoli anche durante l'hover */
}


.custom-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.custom-button:hover {
    background-color: #333;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    /* Arrotonda gli angoli anche durante l'hover */
  }


  .pagina-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .pagina-button:hover {
      background-color: #333;
      color: #fff;
      border: 1px solid #000;
      border-radius: 5px;
      /* Arrotonda gli angoli anche durante l'hover */
    }
