 <!-- <app-titolo [titolo]="'CLOVER'" style="position: absolute; top: 6%; left: 50%; transform: translate(-50%, -0%);" /> -->
<!--  [ngClass]="{'input-error': isRequestEmpty}" -->

<div style="width:100%; height: 70% !important; display: flex; position: relative; "> 

  <div style="width:15%;">
    <app-pulsante img="bi bi-box-arrow-left" pagina="login" (click)="esci()" style="position: relative;top:10%;left:30%"/>

    <app-database nome="Database" #sceltaDb [items]="['Calcio', 'Pokemon', 'Softeam', 'Bookapp']"  style="position: relative;top:30%;left:40%"></app-database>
  </div>

  <div style="width:85%;height: 100%">

    <div id="chatContainer" #chatContainer style="height: 90%; margin-top: 1.8%; margin-left: 3%; width: 80%;">

      <div *ngFor="let message of chatMessages" [class]="message.type === 'request' ? 'request-message' : 'response-message'" [innerHTML]="message.text" >
      </div>

    </div> 

  </div>

</div>

<div style="width:100%; height: 10%; align-items: center;">


  <app-textfield #richiestaInput placeholder="Richiesta" type = "text"
    (keypress)="onTextFieldKeyPress($event, sceltaDb)" css="custom-ricerca" style="width: 1000px; margin-left: 23%;" >
  </app-textfield>

</div>

<div style="width:100%; height: 10%;">

  <input type="file" (change)="onFileSelected($event)" class="custom-file-input" style="position: relative;top:10%; text-align: left;">

  <app-pulsante img="bi bi-send-fill" (click)="chat(sceltaDb, '1', getValue(richiestaInput.inputValue))" style="position: relative;top:10%;left:37%"/>

  <app-pulsante img="bi bi-trash3-fill" (click)="pulisciChat()" style="position: relative;top:10%;left:15%"/>
  
  <app-pulsante img="bi bi-box-arrow-in-down" (click)="uploadFile()" style="position: relative;top:10%;left:20%" />

</div>
