 <!-- <app-titolo [titolo]="'CLOVER'" style="position: absolute; top: 6%; left: 50%; transform: translate(-50%, -0%);" /> -->
<!--  [ngClass]="{'input-error': isRequestEmpty}" -->

<div style="width:100%; height: 70% !important; display: flex; position: relative; "> 

  <div style="width:15%;">

    <app-pulsante img="bi bi-box-arrow-left" pagina="login" (click)="esci()" style="position: relative;top:10%;left:30%"/>

    <app-database nome="Database" #sceltaDb style="position: relative;top:30%;left:40%"></app-database>

    <app-pulsante nome="elimina" (click)="esci()" style="position: relative;top:30%;left:50%"/>

  </div>

  <div style="width:85%;height: 100%">

    <div id="chatContainer" #chatContainer style="height: 90%; margin-top: 1.8%; margin-left: 3%; width: 80%;">

      <div *ngFor="let message of chatMessages" [class]="message.type === 'request' ? 'request-message' : 'response-message'">
        <div [innerHTML]="message.text" [class]="message.isTypingAnimation ? 'typewriting' : ''"></div>
      </div>
    
    </div>
    

  </div>

</div>

<div style="width:100%; height: 10%; align-items: center;">


  <app-textfield #richiestaInput placeholder="Richiesta" type = "text"
    (keypress)="onTextFieldKeyPress($event, sceltaDb)" css="custom-ricerca" style="margin-left: 25%;" >
  </app-textfield>

</div>

<div style="width:100%; height: 10%; align-items: center;">

  <input #fileinput  type="file" (change)="onFileSelected($event)" class="custom-file-input" style="position: relative;text-align: left; margin-left: 20%;">


  <app-pulsante img="bi bi-trash3-fill" (click)="pulisciChat()" style="position: relative;margin-left:5%"/>

  <app-pulsante img="bi bi-box-arrow-in-down" (click)="uploadFile(fileinput)" style="position: relative;margin-left:10%" />
  
  <app-pulsante img="bi bi-send-fill" (click)="chat(sceltaDb, '1', getValue(richiestaInput.inputValue))" style="position: relative;margin-left:10%"/>
  
</div>
